html, body {
	height: 100%;
}
body {
	min-height: 100vh;
	margin: 0;
	background-size: 200% 200%;
}
.sun {
    position: fixed;
    right: 0px;
    top: 0%;
}
.phone1 {
    position: absolute;
    width: 381.79px;
    height: 806px;
    left: 518px;
    top: 60px;
}
.phone2 {
    position: absolute;
    width: 381.79px;
    height: 806px;
    left: 294px;
    top: 6px;
}
.rustore {
    position: absolute;
    width: 108px;
    height: 22.34px;
    left: 528.93px;
    top: 873px;
}
.vxod {
    position: absolute;
    width: 572px;
    height: 503px;
    left: 1283px;
    top: 288px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
#vxod {
    position: absolute;
    width: 76px;
    height: 26px;
    left: 42%;
    top: 20%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;

    text-align: center;

    color: #000000;
}
.blue {
    position: absolute;
    width: 76px;
    height: 2px;
    left: 42%;
    top: 26%;

    background: #40BDFF;
}
.login {
    position: absolute;
    width: 527px;
    height: 70px;
    left: 4%;
    top: 33%;

    background: #ECF9FF;
    border-radius: 20px;
}
.password {
    position: absolute;
    width: 527px;
    height: 70px;
    left: 4%;
    top: 50%;

    background: #ECF9FF;
    border-radius: 20px;
}
#login, #password {
    position: absolute;
    width: 48px;
    height: 20px;
    left: 5%;
    top: 10%;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: rgba(64, 58, 75, 0.6);
}
.checkmark {
    position: absolute;
    width: 14.55px;
    height: 14.55px;
    border-radius: 50px;
    left: 7%;
    top: 66.5%;

    background: #40BDFF;
}
#remember {
    position: absolute;
    width: 161.7px;
    height: 21.83px;
    left: 10%;
    top: 66%;

    font-family: 'Iceberg';
    font-style: normal;
    font-weight: 400;
    font-size: 16.1702px;
    line-height: 20px;
    text-align: center;

    color: rgba(64, 58, 75, 0.6);
}
.enter {
    position: absolute;
    width: 205px;
    height: 40px;
    left: 4%;
    top: 80%;

    background: #40BDFF;
    border-radius: 15px;
}
#enter {
    position: absolute;
    width: 72px;
    height: 24px;
    left: 30%;
    top: 19%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}
.Timetable {
    position: absolute;
    width: 307px;
    height: 40px;
    left: 43%;
    top: 80%;

    background: #40BDFF;
    border-radius: 15px;
}
#Timetable {
    position: absolute;
    width: 143px;
    height: 24px;
    left: 25%;
    top: 17%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}
#circle {
    position: absolute;
    width: 61px;
    height: 61px;
    left: 43px;
    top: 18px;
}
.Days {
    position: absolute;
    width: 61px;
    height: 473px;
    left: 43px;
    top: 100px;

    background: #FFFFFF;
    border-radius: 50px;
}
.Group {
    position: absolute;
    width: 61px;
    height: 33px;
    left: 43px;
    top: 592px;

    background: #FFFFFF;
    border-radius: 30px;
}
.GroupText {
    box-sizing: border-box;

    position: absolute;
    width: 442px;
    height: 43px;
    left: 25px;
    top: 20px;

    background: #FFFFFF;
    border: 1.18426px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4.73706px 9.47412px rgba(0, 0, 0, 0.04);
    border-radius: 11px;
}
.SelectGroupText {
    position: absolute;
    width: 224px;
    height: 26px;
    left: 25%;
    top: 10%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 100%;

    text-align: center;

    color: #005079;
}
.FirstCourse {
    box-sizing: border-box;

    position: absolute;
    z-index: 1;
    width: 442px;
    height: 150px;
    left: 25px;
    top: 10%;

    background: #FFFFFF;
    border: 1.18426px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4.73706px 9.47412px rgba(0, 0, 0, 0.05);
    border-radius: 22.7817px;
}
.SecondCourse {
    box-sizing: border-box;

    position: absolute;
    z-index: 1;
    width: 442px;
    height: 150px;
    left: 25px;
    top: 30%;

    background: #FFFFFF;
    border: 1.18426px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4.73706px 9.47412px rgba(0, 0, 0, 0.05);
    border-radius: 22.7817px;
}
.ThirdCourse {
    box-sizing: border-box;

    position: absolute;
    z-index: 1;
    width: 442px;
    height: 150px;
    left: 25px;
    top: 50%;

    background: #FFFFFF;
    border: 1.18426px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4.73706px 9.47412px rgba(0, 0, 0, 0.05);
    border-radius: 22.7817px;
}
.FourthCourse {
    box-sizing: border-box;

    position: absolute;
    z-index: 1;
    width: 442px;
    height: 150px;
    left: 25px;
    top: 70%;

    background: #FFFFFF;
    border: 1.18426px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4.73706px 9.47412px rgba(0, 0, 0, 0.05);
    border-radius: 22.7817px;
}
.FirstCourseText, .SecondCourseText, .ThirdCourseText, .FourthCourseText {
    box-sizing: border-box;

    position: absolute;
    width: 166px;
    height: 28px;
    left: 30%;
    top: 10%;

    background: #FFFFFF;
    border: 1.18426px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4.73706px 9.47412px rgba(0, 0, 0, 0.04);
    border-radius: 11px;
}
#FirstCourseText, #SecondCourseText, #ThirdCourseText, #FourthCourseText {
    position: absolute;
    width: 62px;
    height: 20px;
    left: 30%;
    top: 10%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 100%;

    text-align: center;

    color: #005079;
}
.Barrier {
    position: absolute;
    width: 1251px;
    height: 860px;
    left: 626px;
    top: 18px;

    background: #FFFFFF;
    box-shadow: 0px 3.88px 3.88px rgba(0, 0, 0, 0.25);
    border-radius: 29.08px;
}
.CourseList {
    position: absolute;
    width: 488px;
    height: 860px;
    left: 120px;
    top: 18px;

    background: #FFFFFF;
    box-shadow: 0px 3.87692px 3.87692px rgba(0, 0, 0, 0.25);
    border-radius: 29.0769px;
}
#Develop {
    position: absolute;
    width: 249px;
    height: 64.72px;
    left: 595px;
    top: 510px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20.6751px;
    line-height: 25px;
    text-align: center;

    color: #9EB0BA;
}
#cat {
    position: absolute;
    width: 313px;
    height: 242.36px;
    left: 550px;
    top: 300px;
}
#background {
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
}
.FirstCourseList {
    position: absolute;
    display: block;
    margin-left: 10%;
    width: 61px;
    height: 33px;
    left: 5%;
    top: 160%;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}
#FirstCourseListText {
    position: absolute;
    width: 37px;
    height: 24px;
    left: 10%;
    top: 10%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #40BDFF;
}
