html, body {
	height: 100%;
}
body {
	min-height: 100vh;
	margin: 0;
	/* background: linear-gradient(90deg, #be93c5, #7bc6cc); */
	/* background: linear-gradient(90deg, #aea4e3, #d3ffe8);
	background: linear-gradient(90deg, #fc00ff, #00dbde); */
	background: #aea4e3;
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;
}
@keyframes gradient {
	0% {background-position: 0 50%; }
	50% {background-position: 100% 50%;}
	100% {background-position: 0 50%;}
}
.blure {
	justify-content: space-between;
	position: fixed;
	/* background: rgba(188, 141, 255, 0.2); */
	background: rgba(190, 190, 190, 0.2);
	display: flex;
    border-radius: 15px;
    outline-color: white;
    outline-style: solid;
    outline-width: 0.5px;
	width: 85%;
	height: 85%;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
	top: 10%;
	left: 13%;
}
.icons{
	justify-items: center;
	display: block;
	height: 93.8%;
	width: 10%;
	padding-top: 3%;
}
.timetable{
	padding-top: 20px;
	padding-left: 10px;
	height: 50px;
}
.circleLeft{
	top: 10%;
}
.attendance, .debts, .marks{
	height: 50px;
	padding-left: 17px;
	padding-top: 50px;
}
.groups{
	height: 50px;
	padding-left: 10px;
	padding-top: 50px;
}
ul{
	position: relative;
	top: -5px;
	list-style-type: none;
}
.predmets{
	display: flex;
	margin-top: 5%;
	position: fixed;
	padding-top: 125px;
	padding-left: 250px;
	justify-content: space-between;
	margin-right: 7%;
}
.№{
	border: 5px;
	border-radius: 5px;
	background: white;
	margin-top: 3.8px;
	padding: 5.5px;
	text-align: center;
	background: rgba(129, 92, 177, 0.2);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	color: white;
}
.Table_In, .List{
	border: 5px;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	width: 150px;
	margin-top: 5px;
	color: #231f24;
	text-align: center;
	background: rgba(129, 92, 177, 0.2);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.Monday{
	float: left;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 10px;
}
.Tuesday, .Wednesday, .Thursday, .Friday, .Saturday{
	padding: 10px;
	float: left;
}
.buttonChange{
	padding-top: 125px;
	padding-left: 82%;
	top: -10px;
	left: -0.3%;
	position: fixed;
	width: 150px;
}
.nav {
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(22, 22, 22, 0.2);
	height: 10px;
	width: 14px;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	font-size: 20px;
}
.nav__toggler {
	z-index: 10;
	display: block;
	position: relative;
	float: right;
	top: -70px;
	right: -81%;
	background-color: #fff;
	border: #fff;
	height: 19px;
	width: 17px;
	padding: 3px;
	border-radius: 5px;
	cursor: pointer;
	transition: color 100ms ease-out;
}
.nav__toggler:hover {
	color: coral;
}
.swipe-menu {
	/* background-color: #bd4acf70; */
	background: linear-gradient(90deg, #9E768F, #9FA4C4);
	animation: gradient 10s ease infinite;
	box-shadow: 8px 5px 7px rgba(22, 22, 22, 0.8);
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
	top: 0;
	width: 300px;
	max-width: 100%;
	transition: all 190ms ease-out;
	opacity: 0;
	left: -320px;
	visibility: hidden;
}
.swipe-menu ~ .swipe-menu-overlay {
	width: 0;
}
.swipe-menu--show {
	visibility: visible;
	opacity: 1;
	left: 0;
}
.swipe-menu--show ~ .swipe-menu-overlay {
	width: 100%;
}
.swipe-menu__close {
	position: absolute;
	right: 30px;
	top: 30px;
	background-color: transparent;
	border: none;
	padding: 0;
	font-size: 24px;
	opacity: 0.3;
	cursor: pointer;
	transition: opacity 100ms ease-out;
}
.swipe-menu__close:hover {
	opacity: 0.7;
}
.swipe-menu-overlay {
	position: absolute;
	z-index: 9;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(22, 22, 22, 0.9);
	transition: all 290ms ease-out;
}
.Marks, .Info, .MarkInfo, .Day, .Mark_Theme{
	position: relative;
	z-index: 1;
}
.Home {
	position: relative;
	z-index: 1;
}
.Mark_Theme {
	float: right;
	top: 20px;
	right: -20px;
}
.Day {
	float: right;
}
.MarkInfo {
	float: left;
	right: -100px;
	bottom: 36px;
}
.buttonChange_Mark{
	padding-top: 125px;
	padding-left: 82%;
	top: -10px;
	left: -60%;
	position: fixed;
	width: 150px;
}
.Subject {
	position: relative;
	width: 85px;
	margin-top: 20px;
}
.Mark_teacher{
	position: relative;
	z-index: 1;
}
.MarkInfo1 {
	position: relative;
	float: left;
	right: -250px;
	bottom: 90px;
}
.Students {
	margin-bottom: 5px;
}